SiCove/bin/
SiCove/obj/
SiCoVe/csharp/bin
SiCoVe/csharp/src/OpenAlprApi/bin
SiCoVe/csharp/src/OpenAlprApi.Test/bin
.vs/
.vs/config/applicationhost.config
SiCoVe/DataBaseSiCoVe/bin/
SiCoVe/DataBaseSiCoVe/obj/
DataBaseSiCoVe/bin/
DataBaseSiCoVe/obj
/