SiCove/bin/
SiCove/obj/
SiCoVe/csharp/bin
SiCoVe/csharp/src/OpenAlprApi/bin
SiCoVe/csharp/src/OpenAlprApi.Test/bin
.vs/SiCoVe/v15/Server/sqlite3/storage.ide-wal
.vs/SiCoVe/v15/Server/sqlite3/storage.ide-shm
